# Logs
logs
*.log

# Runtime data
.env

# Git repository
.git
.gitignore

# Node.js dependencies
node_modules
npm-debug.log

# IDE specific files
.idea
.vscode
*.sublime-workspace

# Docker specific files
Dockerfile
.dockerignore 